@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

Hi, I'm Johnathon.
There are few things I enjoy more than creating solutons to resolve problems that seem impossible. The more difficult the challenge, 
an intruiging solution exists. I work at Volano Solutions where we make custom software to help buinesses with their workflow.